/* arrancamos con esto */
main .sonido, main .funktionlectura {
  margin: 4rem;
  text-align: center; }

* {
  margin: 4;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  header img {
    width: 680px; }
  header ul {
    display: flex;
    gap: 10px; }
    header ul li {
      list-style: none; }
  header img:hover {
    transform: scale(1.15); }

div {
  display: block; }

main {
  text-align: center; }
  main h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    background-color: #e8e8e8; }
  main h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    background-color: #e8e8e8; }
  main h4 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    background-color: #e8e8e8; }
  main h5 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    background-color: #e8e8e8; }
  main h6 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    background-color: #e8e8e8; }
  main .evento {
    width: 100%; }
  main .mapa {
    width: 100%; }
  main img {
    padding: 20px; }
  main p {
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; }
  main a {
    color: black;
    font-weight: bold; }
  main a:hover {
    font-size: 15px;
    color: black; }

footer {
  background-color: black;
  color: white;
  padding: 40px 0;
  text-align: center;
  display: grid;
  font-size: 20px; }
  footer .redes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: center;
    color: white;
    text-decoration: none; }
  footer ul {
    display: flex;
    gap: 10px; }
    footer ul li {
      list-style: none; }
  footer ul li a {
    text-decoration: none;
    color: white; }
  footer ul li a:hover {
    text-decoration: underline;
    color: white;
    font-size: 25px; }
  footer .inicio {
    text-decoration: none;
    color: white; }
  footer .inicio:hover {
    font-size: 25px; }

/* historia */
.historiafoto {
  width: 100%; }

.historia {
  margin: 8rem;
  text-align: center; }

/* eventos */
.card {
  display: inline-block;
  margin: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; }

/* crear y entrar */
fieldset {
  padding: 1rem;
  margin: 2rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; }
  fieldset div label {
    padding: 1rem; }
  fieldset .botones {
    display: flex; }
  fieldset .boton {
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 1rem;
    width: 50%; }

/* Galeria */
.imagenes {
  width: 100%;
  border-radius: 2rem; }

/* MQ */
@MEDIA screen and (max-width:600px)and (min-width:481px) {
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    header img {
      width: 100%; }
  ul {
    display: flex;
    gap: 10px; }
    ul li {
      list-style: none; } }

@MEDIA screen and (max-width:480px) and (min-width:320px) {
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    header img {
      width: 100%; }
  ul {
    display: flex;
    gap: 10px; }
    ul li {
      list-style: none; }
  footer ul {
    flex-wrap: wrap; } }
