// arrancamos con esto XD
/* arrancamos con esto */

@import "utilities/variables";

*{
    margin: 4;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        width: 300px;
    }
    ul{
        display: flex;
        gap: 10px;
        li{
            list-style: none;
        }
    }
    img:hover{
        transform: scale(1.15);
        transition: 0.5s;
    }
}

div{
    display: block;
}

main {
    text-align: center;
    h1{
        @include titulos;
    }
    h2{
        @include titulos;
    }
    h3{
        @include titulos;
    }
    h4{
        @include titulos;
    }
    h5{
       @include titulos;
    }
    h6{
        @include titulos;
     }
    .evento{
        width: 100%;
    }
    .mapa{
        width: 100%;
    }
    img{
        padding: 20px;
    }
    p{
        text-align: start;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px
    }
    .sonido{
        @extend %informacion;
    }
    .funktionLectura{
        @extend %informacion;
    } 
    a{
        color: black;
        font-weight: bold;
        background-color: #e8e8e8;
    } 
    a:hover{
        font-size: 15px;
        color: black;
    }
}

.bajarFooter{
    min-height: 46vh;
}

footer{
    background-color: $color-principal;
    color: $color-secundario;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    .contenidosFooter{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .redes{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    ul li img{
    padding: 10px;
   }

    .redes a{
        text-decoration: none;
    }

    ul li a{
        text-decoration: none;
        color: $color-secundario;
        
    }
    ul li a:hover{
        text-decoration: underline;
        color: $color-secundario;
        font-size: 25px;
    }
    .inicio{
        text-decoration: none;
        color: $color-secundario;
    }
    .inicio:hover{
        font-size: 25px;
    }
}

/* historia */

.historiaFoto{
    width: 100%;
}

.historia{
    margin: 8rem;
    text-align: center;
}

/* eventos */

.card{
    display: inline-block;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* crear y entrar */

fieldset{
    padding: 1rem;
    margin: 2rem;
    background-color: $color-principal;
    color: $color-secundario;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    div label{
        padding: 1rem;
    }
    .botones{
        display: flex;
    }
    .boton{
        display: inline-block;
        background-color: $color-secundario;
        color: $color-principal;
        border-radius: 1rem;
        width: 50%;
    }
}

/* Galeria */
main div img{
    width: 100%;
}
.row{
    display: flex;
    padding: 3px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 3px;
}

.colum img{
    margin-top: 3px;
}


/* MQ */

@media screen and (max-width:800px)and (min-width:501px) {
    
    header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img{
            width: 250px;
        }
    }

    .bajarFooter{
        min-height: 50vh;
    }

    .column{
        flex: 50%;
    }
}

@media screen and (max-width:500px) and (min-width:320px) {

   
    header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img{
            width: 200px;
        }
    }

    main{
        h2{
            @include titulos-telefonos;
        }
        h3{
            @include titulos-telefonos;
        }
        h4{
            @include titulos-telefonos;
        }
        h5{
            @include titulos-telefonos;
        }
        h6{
            @include titulos-telefonos;
        }
    }

    .bajarFooter{
        min-height: 55vh;
    }

    .column{
        flex: 100%;
    }

    .historia{
        margin: 4rem;
        text-align: center;
    }
}

