$color-principal:black;
$color-secundario: white;

@mixin titulos{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    background-color: #e8e8e8;
}

@mixin titulos-telefonos{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    background-color: #e8e8e8;
}
//extend

%informacion {
    margin: 4rem;
    text-align: center;
}